/* css styling for header */

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    z-index: 1000;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

/* logo styling */
.logo {
    font-size: 1.3em;
    padding-left: 4%;
    padding-top: 0.5em;
}

.logoSvg {
    width: 10em;
    height: auto;
    cursor: pointer;
}

/* nav items styling */
.navItem {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

.current {
    color: #7E7E7E;
    text-decoration: underline;
}

.navLinks {
    display: flex;
    font-size: 1.1em;
    gap: 1em;
    list-style: none;
    padding-right: 4%;
}

/* dropdown styling */
.dropdownMenu {
    position: absolute;
    list-style: none;
    top: 7%;
    padding: 0.5rem 0;
    margin: 0;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}


.dropdownItem {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
}

.dropdownItem:hover {
    color: #7E7E7E;
    text-decoration: underline;
}


