/* css styling for header */

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

/* logo styling */
.logo {
    font-size: 1.3em;
    padding-left: 4%;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

/* nav items styling */
.navItem.current a {
    color: #7E7E7E;
    text-decoration: underline;
}

.navLinks {
    display: flex;
    font-size: 1.1em;
    gap: 20px;
    list-style: none;
    padding-right: 4%;
}

.navLinks a {
    text-decoration: none;
    color: inherit;
}

