@font-face {
  font-family: 'OptiFlemish';
  src: url('./fonts/OPTIFlemish-Script.otf');
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');


/* general styling */
body {
  font-family: 'EB Garamond', serif;
}

html {
  background-color: black;
  color: white;
}