/* css for footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-top: 8rem;
    text-align: center;
    z-index: 1000;
    position: relative;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.signature {
    margin-left: auto;
    text-align: right;
    margin-right: 4rem;
}

.signature a {
    color: white;
}

.icon {
    color: white;
    width: 2vw;
    height: 1.5vw;
}

.footer p {
    margin-right: 1rem;
    font-size: 1.2em;
}
