/* css for home page */

.content {
    text-align: center;
}

.content img {
    max-width: 80%;
    height: auto;
}

.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 94px);
    position: relative;
    align-items: center;
}

.caretIcon {
    color: white;
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}