/* general styling */
body, html {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

/* landing section */
.homeLandingWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    overflow: hidden; 
}

.landingHeadingContainer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh-90px);
  }

.landingHeadingContainer img {
    max-width: 70%;
    height: auto;
    animation: fadeIn 1s ease-in-out;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}

/* fluid background styling */
.fluidBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow-y: hidden;
    pointer-events: auto;
}

.fluidBackground canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caretIcon {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 3;
}

.caretIcon.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%) translateY(10px);
}

.caretIcon:hover {
    transform: translateX(-50%) translateY(5px);
    opacity: 0.8;
}

/* my experience section */
.experience {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    overflow: visible;
}

.experience img {
    width: 25%;
    height: auto;
    margin-left: 3rem;
    margin-top: 6rem;
    opacity: 0;
    transform: translateX(-50px);
}

.experienceTable {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.4em;
    table-layout: fixed;
}

.experienceTable tr {
    opacity: 0;
    transform: translateX(-50px);
}

.experienceTable td {
    padding: 3%;
    border-bottom: 1px solid white;
    text-align: center;
}

.experienceTable td:first-child {
    text-align: left;
}

.experienceTable td:last-child {
    text-align: right;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
