/* css for home page */

.content {
    text-align: center;
}

.content img {
    max-width: 80%;
    height: auto;
}

.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 93px);
}